<h2>Signup!</h2>

<table class="form-horizontal">
  <tr>
  <%= form_for :user, url: '/users' do |f| %>
    <tr>
      <th>First Name: <br>
      <%= f.text_field :first_name %></th>
    </tr>  
    <tr>
      <th>Last Name: <br>
      <%= f.text_field :last_name %></th>
    </tr>
    <tr>
      <th>Email: <br>
      <%= f.text_field :email %></th>
    </tr>
    <tr>
      <th>Password: <br>
      <%= f.password_field :password %></th>
    </tr>
    <tr>
      <th>Password Confirmation: <br>
      <%= f.password_field :password_confirmation %></th>
    </tr>
    <tr>  
      <%= f.submit "Submit" %>
    </tr>

<% end %>
  </tr>
</table>

